.home {
  background-color: #fbf9f6;
}

.logo-section {
  background-image: url("../../assets/homeBgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .logo-section {
    background-image: url("../../assets/homeBgImage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    transform: scaleY(-1);
  }
  .logo-section img {
    transform: scaleY(-1);
  }
}
